.app_container {
  display: flex;
  min-height: 100vh;
  user-select: none;
}

body {
  position: relative;
  color: black;
  height: 100vh;
  background: white;
  font-weight: bold;
  overflow-y: hidden;
  margin: 0;
}

.order_list_container {
  display: flex;
  flex-direction: column;
  justify-content: top;
  width: 100%;
  max-width: none;
  padding: 40px 40px 40px 40px;
  border-right: 1px solid gray;
}

.status_ordered {
  color: red;
}

.status_in-progress {
  color: blue;
}

.status_delivered {
  color: green;
}

.order_list li {
  line-height: 2;
}

.order_list li input,
.order_list li span {
  cursor: pointer;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.order_list_table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.order_list_table tr {
  border-bottom: solid 1px #eee;
}

.order_list_table tr:hover {
  background-color: #d4f0fd;
}

.order_list_table tbody tr {
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.order_list_table tbody tr:hover {
  transform: translateX(4px);
}

.order_list_table th,
.order_list_table td {
  text-align: center;
  width: 20%;
  padding: 15px 0;
}

.order_list_table th {
  position: sticky;
  top: 0;
  background-color: rgb(80, 80, 255);
  color: white;
}

.create_order_button {
  text-align: center;
  position: absolute;
  bottom: 0;
  padding: 0px 0px 20px 0px;
  background: transparent;
  border: none;
}
.create_order_button span {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 240px;
  padding: 10px 25px;
  color: #fff;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  background: rgb(80, 80, 255);
  filter: drop-shadow(0px 2px 4px #ccc);
  border-radius: 10px;
}
.create_order_button span:hover {
  background: rgb(80, 80, 255, 0.75);
  transform: translateY(-2px);
  box-shadow:
    0 15px 30px -5px rgb(0 0 0 / 15%),
    0 0 5px rgb(0 0 0 / 10%);
}
