.menu_bar {
  width: 120px;
  min-width: 120px;
  min-height: 100vh;
  background-color: rgb(80, 80, 255);
  padding: 20px;
  /* box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5); */
  font-size: large;
}

.menu_bar a {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}

.menu_bar a:hover {
  color: rgb(160, 160, 255);
  transform: translateX(2px);
}

.menu_bar_setting {
  position: absolute;
  bottom: 0;
  font-size: 32px;
}
