body {
    position: relative;
    color: black;
    height: 100vh;
    background: white;
    font-family: sans-serif;
    overflow-y: hidden;
    margin: 0;
  }
  
  input[type='text'] {
    border: 1px solid rgb(80, 80, 255);
    border-radius: 4px;
    min-height: 30px;
    margin-right: 12px;
    opacity: 0.9;
    padding: 4px 12px;
    width: 100%;
  }
  
  .input-field {
    width: 100%;
    display: flex;
    opacity: 0.95;
  }
  
  .request-details-container {
    display: flex;
    flex-direction: column;
    justify-content: top;
    width: 100%;
    max-width: 250px;
    padding: 40px 40px 40px 40px;
    border-right: 1px solid gray;
  }
  
  .request-list li {
    line-height: 2;
  }
  
  .request-list li input,
  .request-list li span {
    cursor: pointer;
  }
  
  ul {
    padding: 0;
  }
  
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    height: fit-content;
    width: fit-content;
    margin: 10px;
  }
  
  a:hover {
    opacity: 1;
    text-decoration: none;
  }
  
  .app-container {
    display: flex;
    min-height: 100vh;
  }
  